<ion-view title="Añadir evento">  
  <ion-content class="has-header">
    
    <form name="addeventForm" ng-submit="createEvent()" novalidate>
    	<div class="list">
			<label class="item item-input item-stacked-label">
			    <span class="input-label">Titulo</span>
			    <input type="text" 
			    		name="title" 
			    		ng-model="event.title" 
			    		placeholder="El titulo de tu evento (max. 40 carácteres)"
			    		required
			    		ng-maxlength="40">

			    <p ng-show="addeventForm.title.$error.required && !addeventForm.title.$pristine" 
			  	 class="">El titulo no puede estar vacio.</p>
			  	<p ng-show="addeventForm.title.$error.maxlength && !addeventForm.title.$pristine" 
			  	 class="">El titulo es demasiado largo.</p>			  	
			  	<p ng-show="addeventForm.title.$error.mongoose">
		            {{ errors.title }}</p>
			</label>

			<label class="item item-input item-stacked-label">
			    <span class="input-label">Lugar</span>
			    <input type="text" 
			    		name="place" 
			    		ng-model="event.place" 
			    		placeholder="Lugar del evento (max. 100 carácteres)"			    		
			    		ng-maxlength="100">
			    
			  	<p ng-show="addeventForm.place.$error.maxlength && !addeventForm.place.$pristine" 
			  	 class="">El lugar es demasiado largo. (max. 100 carácteres)</p>
			</label>

			<label class="item item-input">
				<span class="input-label">Fecha</span>
				<input type="date" 
						name="date" 
						ng-model="event.date"
						required>

			    <p ng-show="addeventForm.date.$error.required && !addeventForm.date.$pristine" 
			  	 class="">La fecha no puede estar vacia.</p>
			  	<p ng-show="addeventForm.date.$error.mongoose">
		            {{ errors.date }}</p>

			</label>

		  	<label class="item item-input item-stacked-label">
			    <span class="input-label">Descripción</span>
			    <textarea name="descrip" 
			    		ng-model="event.descrip" 
			    		placeholder="Describe tu evento (max. 1000 carácteres)"
			    		ng-maxlength="1000">
		    	</textarea>
			    
			  	<p ng-show="addeventForm.descrip.$error.maxlength && !addeventForm.descrip.$pristine" 
			  	 class="">El lugar es demasiado largo. (max. 100 carácteres)</p>
			  	<p ng-show="addeventForm.descrip.$error.mongoose">
		            {{ errors.descrip }}</p>

		  	</label>

		  	<ul class="list">
				 <li class="item item-toggle">
				     Evento público 
				    <label class="toggle toggle-balanced">
				       <input type="checkbox"
				       			name="scope"
				       			ng-model="event.scope"
				       			ng-true-value="1"
				       			ng-false-value="0">
				       <div class="track">
				         <div class="handle"></div>
				       </div>
				    </label>
				 </li>
			</ul>

		  	<button class="button button-small button-block icon-left ion-image button-stable" 
		  			ng-click="uploadImage()">Añadir una imagen al evento</button>

		  	<tt>addeventForm.title.$error = 
  				{{addeventForm.title.$error}}</tt><br><br>

  			<tt>addeventForm.place.$error = 
  				{{addeventForm.place.$error}}</tt><br><br>

  			<tt>addeventForm.date.$error = 
  				{{addeventForm.date.$error}}</tt><br><br>

  			<tt>addeventForm.descrip.$error = 
  				{{addeventForm.descrip.$error}}</tt><br><br>

		  	<button type="submit" 
		  			class="button button-block button-calm"
		  			ng-disabled="addeventForm.$invalid">Crear evento</button>
		</div>
    </form>

  </ion-content>
</ion-view>

