<ion-view title="Editando Perfil..." hide-back-button="true">	
	
	<ion-nav-buttons 
		side="left"> 
        <button 
        	class="button button-assertive button-clear no-animation"
            ng-click="navigateTo('tab.profile')"> 
            Cancelar 
        </button>
  	</ion-nav-buttons>

	<ion-nav-buttons 
		side="right"> 
        <button 
        	class="button button-balanced button-clear no-animation"
            ng-click="edit()"> 
            Aceptar 
        </button>
  	</ion-nav-buttons>

	<ion-content class="has-header">


	<p> Esta es la pantalla de profile de {{user.username}} </p> 
	<p> Estado: {{user.state}} </p>
	<p> Avatar: {{user.avatar}} </p>  
	<p> picbg: {{user.picbg}} </p>

	<button class="button button-small button-block icon-left ion-clock button-calm"
			ng-click="logout()">logout</button>
		<!--

		<div class="list card">

	  <div class="item item-avatar">
	    <img src="img/users/{{pic}}">
	    <h2>{{username}}</h2>
	    <p>{{state}}</p>
	  </div>	  

	</div>

	<div class="list">

		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-paper-airplane"></i>
		    Notificaciones
		    <span class="badge badge-assertive">0</span>
		  </a>		  
		  <a class="item item-icon-left" href="#/tab/contacts">
		    <i class="icon ion-person-stalker"></i>
		    Amigos
		    <span class="badge badge-assertive">{{numFriends}}</span>
		  </a>

		</div>  -->


	</ion-content>
</ion-view>