<ion-view title="" hide-nav-bar="true" hide-back-button="true" >

<ion-content class="" scroll="false">
   <div class="logo">
   </div>

   <div class="slogan">
    <p>
      Bienvenido a Toollife por favor, elige la forma de acceder. ;)
    </p>
   </div>

   <button id="btnLinkLoginIndex" class="button button-block button-positive" ng-click="navigateTo('app.login')">
      Iniciar sesión
   </button>

   <button id="btnLinkSetupIndex" class="button button-block button-calm" ng-click="navigateTo('app.signup')">
      Regístrate ahora
   </button>
   
</ion-content>

</ion-view>